@import "settings";
@import "~bootstrap/scss/bootstrap";
@import "animation";
@import "custom";
@import "dark-mode";

.max {
  background: #f3b133 !important;
  color: #fff;
  float: right !important;
}

.max:hover {
  cursor: pointer;
}
